SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_DB_URL=
SUPABASE_SERVICE_ROLE_KEY=

AUTO_SCHEMA_SYNC_ON_START=
PORT=


JWT_SECRET=
JWT_EXPIRES_IN=

FRONTEND_URLS=
FRONTEND_URL_PATTERNS=
COOKIE_SAME_SITE=
COOKIE_SECURE=
NODE_ENV=